{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set plugin = craft.app.plugins.getPlugin('formie-campaigns') %}
{% set settings = plugin.getSettings() %}

{# Site handling #}
{% set siteHandle = craft.app.request.getParam('site') %}
{% set site = siteHandle ? craft.app.getSites().getSiteByHandle(siteHandle) : craft.app.sites.getPrimarySite() %}

{# Get campaign #}
{% set campaign = formieCampaigns.campaigns.find().id(campaignId).siteId(site.id).one() %}
{% if not campaign %}
    {% exit 404 %}
{% endif %}

{% set title = 'Add Customer'|t('formie-campaigns') %}
{% set fullPageForm = true %}
{% set selectedSubnavItem = 'campaigns' %}

{# Default customer for new form or passed back with errors #}
{% set customer = customer ?? null %}

{# Site switcher in crumbs #}
{% set crumbs = [] %}
{% if craft.app.getIsMultiSite() %}
    {% set siteMenuItems = [] %}
    {% for s in craft.app.sites.getAllSites() %}
        {% set siteMenuItems = siteMenuItems|merge([{
            label: s.name,
            url: cpUrl('formie-campaigns/' ~ campaignId ~ '/add-customer', {site: s.handle}),
            selected: s.handle == site.handle
        }]) %}
    {% endfor %}

    {% set crumbs = [{
        id: 'site-crumb',
        icon: 'world',
        label: site.name|t('site'),
        menu: {
            items: siteMenuItems,
            label: 'Select site'|t('app')
        }
    }] %}
{% endif %}

{% set crumbs = crumbs|merge([
    { label: settings.pluginName, url: cpUrl('formie-campaigns', {site: site.handle}) },
    { label: campaign.title, url: cpUrl('formie-campaigns/' ~ campaignId ~ '/customers', {site: site.handle}) },
]) %}

{% block content %}
    <form method="post" accept-charset="UTF-8">
        {{ csrfInput() }}
        {{ actionInput('formie-campaigns/customers/add') }}
        {{ redirectInput('formie-campaigns/' ~ campaignId ~ '/customers?site=' ~ site.handle) }}
        {{ hiddenInput('campaignId', campaignId) }}

        {{ forms.textField({
            first: true,
            label: 'Name'|t('formie-campaigns'),
            instructions: 'The customer\'s full name'|t('formie-campaigns'),
            id: 'name',
            name: 'name',
            value: customer ? customer.name : null,
            errors: customer ? customer.getErrors('name') : null,
            autofocus: true,
            required: true,
        }) }}

        {{ forms.textField({
            label: 'Email'|t('formie-campaigns'),
            instructions: 'The customer\'s email address (for email invitations)'|t('formie-campaigns'),
            id: 'email',
            name: 'email',
            class: 'code',
            autocorrect: false,
            autocapitalize: false,
            value: customer ? customer.email : null,
            errors: customer ? customer.getErrors('email') : null,
            required: false
        }) }}

        {{ forms.textField({
            label: 'SMS'|t('formie-campaigns'),
            instructions: 'The customer\'s phone number (for SMS invitations)'|t('formie-campaigns'),
            id: 'sms',
            name: 'sms',
            class: 'code',
            autocorrect: false,
            autocapitalize: false,
            value: customer ? customer.sms : null,
            errors: customer ? customer.getErrors('sms') : null,
            required: false
        }) }}

        {# Build unique languages from sites #}
        {% set languageOptions = [] %}
        {% set seenLanguages = {} %}
        {% for s in craft.app.sites.getAllSites() %}
            {% set langCode = s.language|upper %}
            {% if langCode not in seenLanguages|keys %}
                {% set languageOptions = languageOptions|merge([{ label: langCode, value: s.id }]) %}
                {% set seenLanguages = seenLanguages|merge({(langCode): s.id}) %}
            {% endif %}
        {% endfor %}

        {{ forms.selectField({
            label: 'Language'|t('formie-campaigns'),
            instructions: 'The language for the invitation and submission.'|t('formie-campaigns'),
            id: 'siteId',
            name: 'siteId',
            options: languageOptions,
            value: customer ? customer.siteId : site.id,
            errors: customer ? customer.getErrors('siteId') : null,
            required: true
        }) }}
    </form>
{% endblock %}

{% block details %}
    <fieldset>
        <div class="meta">
            {{ forms.lightswitchField({
                label: 'Send Invitation'|t('formie-campaigns'),
                instructions: 'Queue invitation to be sent after adding.'|t('formie-campaigns'),
                id: 'sendInvitation',
                name: 'sendInvitation',
                on: true
            }) }}

            <div class="field">
                <div class="heading">
                    <label>{{ 'Campaign'|t('formie-campaigns') }}</label>
                </div>
                <div class="input">
                    <a href="{{ cpUrl('formie-campaigns/' ~ campaignId ~ '/customers', {site: site.handle}) }}">{{ campaign.title }}</a>
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}

{% block actionButton %}
    <div class="btngroup">
        <button type="submit" class="btn submit">{{ 'Add Customer'|t('formie-campaigns') }}</button>
    </div>
{% endblock %}
